.indexBody {
  background-color: #CBC5BD;
  background-image: url(../img/newbgdev.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: auto;
}

.indexMessage {
  padding-top: 30px;
  font-size: larger;
  font-family: sans-serif;
  color: rgb(28, 27, 25);
}

.motto{
  font-size: larger;
  font-family: sans-serif;
  color: rgb(28, 27, 25);
  text-align:end;
  padding-right: 50px;
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: left;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  padding: 100px;
  transform: translate(-50%, -50%);
  background: #cbc5bd63;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

input[type=text], input[type=password] {
  position: relative;
  font-size: 16px;
  font-family: sans-serif;
  background: #fff7ed00;
  width: 75%;
  border: 0;
  border-bottom: 1px solid #282c3797;
  padding: 10px;
  margin: 10px;
}


#dash {
  color: #5d7466;
  font-size: 80px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
}

.myButton {
  background-color: rgb(126, 137, 139);
  border-radius: 10px;
  border: #282c3700;
  display: inline-block;
  color: #2a3235;
  box-shadow: 2px 2px 10px #242c2f;
  font-size: 20px;
  padding: 15px 30px;
  margin: 10px 0px 0px 0px;
  width: 45%;
  text-align: center;
  transition: width 0.5s, background 1s, border-radius 0.5s ease-in-out;
}

.myButton:hover {
  background-color: rgb(61, 74, 78);
  color: #CBC5BD;
  border-radius: 20px;
  border: #5d746600;
  width: 40%;
}

.myButton:active {
  position: relative;
  top: 1px;
  color: #CBC5BD;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #242c2f
}

.button-container-home {
  padding-top: 50px;
  text-align: center;
}

.button-container{
  padding-top: 20px;
}

.CADSbutton {
  background-color: #CBC5BD;
  font-size: normal;
  display: inline-block;
  padding: 12px 24px;
  border: #4f4f4f00;
  border-radius: 3px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #3B474B;
  width: 20%;
  box-shadow: 2px 2px 6px #242c2f;
}

.CADSbutton:hover {
  color: #CBC5BD;
  background-color: #3B474B;
}

.CADSbutton:active {
  position: relative;
  top: 2px;
  box-shadow: 2px 2px 20px #242c2f;
}

.title {
  font-family: 'Futura Std';
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;

}


.form-lemma {
  max-width: 380px;
  padding: 15px 45px 10px;
  margin-bottom: 20px;
  background-color: #d8dfd8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}


.lemma {
  max-width: 400px;
  padding: 15px 35px 10px;
  margin: 0 auto;
  background-color: #ebe7e3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}

.lemma-group1 {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;

}

.lemma-group2 {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;

}

#lemmaFormGrammCat {
  max-block-size: 380px;
  padding: 15px 7px 10px;
  margin-bottom: 20px;
  background-color: #d8dfd8;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-notes {
  max-width: 380px;
  padding: 15px 40px 45px;
  margin: 0 auto;
  background-color: #d8dfd8;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 20px;
}

.titleuserinfo {
  font-family: 'Futura Std';
  font-size: 50px;
  text-align: center;
}

.chemail {
  max-width: 400px;
  padding: 15px 35px 10px;
  margin: 0 auto;
  background-color: #ebe7e3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.UIbutton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #3b8255;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.UIbutton:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.UIbutton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #457259;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.UIlist {
  text-align: center;
}
