@font-face {
    font-family: 'Futura Std';
    font-style: normal;
    font-weight: 400;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdBook.woff') format('woff');
}
@font-face {
    font-family: 'Futura Std';
    font-style: normal;
    font-weight: 300;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdCondensedLight.woff') format('woff');
}
@font-face {
    font-family: 'Futura Std';
    font-style: italic;
    font-weight: 300;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdCondensedLightObl.woff') format('woff');
}
@font-face {
    font-family: 'Futura Std';
    font-style: normal;
    font-weight: 500;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdCondensed.woff') format('woff');
}
@font-face {
    font-family: 'Futura Std';
    font-style: italic;
    font-weight: 500;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdCondensedOblique.woff') format('woff');
}

body{
    background-color:#CBC5BD;
    font-family: 'Futura Std', sans-serif;
}

h1{
    color: #5D7466;
    font-size: x-large;
}