@font-face {
    font-family: 'Futura Std';
    font-style: normal;
    font-weight: 400;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdBook.woff') format('woff');
}
@font-face {
    font-family: 'Futura Std';
    font-style: normal;
    font-weight: 300;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdCondensedLight.woff') format('woff');
}
@font-face {
    font-family: 'Futura Std';
    font-style: italic;
    font-weight: 300;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdCondensedLightObl.woff') format('woff');
}
@font-face {
    font-family: 'Futura Std';
    font-style: normal;
    font-weight: 500;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdCondensed.woff') format('woff');
}
@font-face {
    font-family: 'Futura Std';
    font-style: italic;
    font-weight: 500;
    src: local('Futura Std'), url('https://fonts.cdnfonts.com/s/30938/FuturaStdCondensedOblique.woff') format('woff');
}

body{
    background-color:#CBC5BD;
    font-family: 'Futura Std', sans-serif;
}

#dash{
    color: #5D7466;
    font-size:80px;
    text-align: center;
}
a {
    text-decoration: none !important;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
  }
  
  .myButton {
    background-color: #ffffff;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 30px;
    border: 1px solid #282c37;
    display: inline-block;
    cursor: pointer;
    color: #282c37;
    font-size: 15px;
    padding: 16px 31px;
    text-decoration: none;
    margin: 10px 0px 0px 0px;
    width: 75%;
    text-align: center;
    -webkit-transition: width 0.5s, background 1s, border-radius 0.5s ease-in-out;
    -moz-transition: width 0.5s, background 1s, border-radius 0.5s ease-in-out;
    -o-transition: width 0.5s, background 1s, border-radius 0.5s ease-in-out;
    transition: width 0.5s, background 1s, border-radius 0.5s ease-in-out;
  }
  
  .myButton:hover {
    background-color: #5D7466;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #5D7466;
    width: 80%;
  }
  
  .myButton:active {
    position: relative;
    top: 1px;
    color: #ffffff;
    border-radius: 3px;
  }
  
  .button-container {
    padding: 100px 0;
    text-align: center;
  }
  
  .CADSbutton {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 0px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    margin: 10px 0px;
    color: #282c37;
    width: 30%;
  }
  .CADSbutton:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all, 0.5s 0.1s, cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .CADSbutton:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #5D7466;
    border-radius: 50%;
    display: block;
    transition: all, 0.5s 0.1s, cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .CADSbutton:hover {
    color: #ffffff;
    border: 1px solid #5D7466;
  }
  .CADSbutton:hover:before {
    top: -35%;
    background-color: #5D7466;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .CADSbutton:hover:after {
    top: -45%;
    background-color: #5D7466;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
